.mainPage {
    display: flex;

    width: 100%;
    min-height: 100vh;

    background-color: rgb(199, 203, 192);


    nav {
        position: fixed;
        z-index: 2;
        width: 500px;
        height: 100vh;

        background-color:rgba(63, 66, 62,.85);

        .nav-open{
            position: absolute;
            right: 20px;
            top:20px;
            
            cursor: pointer;
        }
    }

    .content {
        flex-direction: column;
        position: relative;
        z-index: 1;

        width: 100%;
        height: 100%;


        .content__nav{
            width: 100%;
            height: 60px;

            background: rgb(1,1,1);
            background: linear-gradient(120deg, rgb(63, 66, 62) 23%, rgba(32,30,30,0.9727241238292192) 49%, rgba(42,40,40,0.9727241238292192) 90%);

            .nav-close{
                position: absolute;
                left: 20px;
                top:15px;
                z-index: 4;
        
                transform: rotate(180deg);
                transition-delay: 1s;
                cursor: pointer;
            }

            button{
                position: absolute;
                right: 20px;
                top:-5px;

                &:hover{
                    border: .05rem solid white;
                    color: rgb(236, 85, 85);
                }
            }
        }
    }
}