.Ad{
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    position: relative;

    width: max-content;
    min-width: 370px;
    min-height: 230px;

    background-color: rgb(188, 185, 185);

    margin: 4px auto;
    

    .Ad-loupe{
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        font-size: 170px;
        color: white;
    }

    &:hover >.Ad-loupe{
        display: flex;

        transition: all ease-in-out;
        transition-duration: .4s;      
        background-color: rgba(153, 149, 149, 0.55);

        font-size: 27px;
        cursor: pointer;
    }

    .Ad-id{
        position: absolute;

        right:5px;
        top: 5px;

        background-color: rgba(182, 168, 168, 0.9);
        border-radius: 2px;
        padding: 0 .6rem;

        font-size: 20px;
    }

    .Ad-image{
        width: 370px;
        height: 230px;        
    }

    .Ad-no-images{
        width: 370px;
        height: 230px;  

        letter-spacing: 4px;
        font-size: 20px;
        font-weight: 400;
    }

    .Ad-info{
        display: flex;
        align-items: center;

        width: 100%;
        padding: .3rem 0;
        

        h3 {        
            letter-spacing: .2em;   
            font-size: 15px;       
        }

        h3, text {
            width: 50%;
            margin: 0px 10px;
        }
        text{
            text-align: right;
            color: rgb(228, 60, 60);
            font-weight: 500;
        }
    }
}

.full__Ad{
    display: flex;
    position: fixed;
    z-index: 20;

    width: 900px;
    height: 420px;
    left: 50%;
    top:50%;
    margin-top: -210px;
    margin-left: -450px;

    .full_Ad-img{
        width: 70%;
        height: 100%;

        background-color: rgba(189, 189, 189,.7);

        img {
            width: 100%;
            height: 100%;
        }
    }

    .full_Ad-info{
        width: 30%;
        height: 100%;

        background-color: rgba(125, 127, 126,.94);

        h3 {        
            letter-spacing: .2em;   
            font-size: 19px;       
        }

        h3, p {
            padding: .5rem;
        }

        p {
            width: 80%;
        }
    }

    .exit-icon{
        position: absolute;

        right: 20px;
        top: 20px;

        cursor: pointer;

        &:hover{
               color: rgb(236, 85, 85);

               transition: all ease-in-out;
               transition-duration: .3s;
        }
    }
}