.Ad{
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    position: relative;

    width: max-content;
    min-width: 370px;
    min-height: 230px;

    border: .5px solid rgb(61, 58, 58);
    box-shadow: inset 0 0 1em rgb(61, 58, 58);

    margin: 4px auto;

    color: white;
    

    .Ad-loupe{
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        font-size: 170px;     
    }

    &:hover >.Ad-loupe{
        display: flex;

        transition: all ease-in-out;
        transition-duration: .4s;      
        background-color: rgba(112, 108, 108, 0.6);

        font-size: 27px;
        cursor: pointer;
    }

    .Ad-id{
        position: absolute;

        right:5px;
        top: 5px;

        background-color: rgba(49, 45, 45, 0.7);
        border-radius: 2px;
        padding: 0 .6rem;

        font-size: 15px;
    }

    .Ad-image{
        width: 370px;
        height: 230px;    
        
        border:1px solid black
    }

    .Ad-no-images{
        width: 370px;
        height: 230px;  

        letter-spacing: 3px;
        font-size: 28px;
        font-weight: 700;

        color: rgb(155, 149, 149);
    }

    .Ad-info{
        display: flex;
        align-items: center;

        width: 100%;
        padding: .3rem 0;
        

        h3 {        
            letter-spacing: .2em;   
            font-size: 15px;    
            
            color: rgb(194, 232, 241);
        }

        h3, text {
            width: 50%;
            margin: 0px 10px;
        }
        text{
            text-align: right;
            font-weight: 500;
        }
    }
}

.full__Ad{
    display: flex;
    position: fixed;
    z-index: 20;

    width: 900px;
    height: 420px;
    left: 50%;
    top:50%;
    margin-top: -210px;
    margin-left: -450px;

   

    .full_Ad-img{
        width: 70%;
        height: 100%;

        border:1px solid black;
        border-right: none;

        background-color: rgba(76, 77, 77, 0.94);

        img {
            width: 100%;
            height: 100%;

            border:1px solid black
        }

        .Ad-id{
            position: absolute;

            left:5px;
            top: 5px;

            background-color: rgba(49, 45, 45, 0.9);
            border-radius: 2px;
            padding: 0 .6rem;

            font-size: 20px;
            color: white;
        }
    }

    .full_Ad-info{
        position: relative;

        width: 30%;
        height: 100%;

        background-color: rgba(76, 77, 77, 0.94);
        border:1px solid black;

        color: white;

        h3 {        
            letter-spacing: .2em;   
            font-size: 19px;       
        }

        h3, p, text {
            padding: .5rem;
        }

        p {
            width: 80%;

            color: rgb(207, 193, 193);
        }

        text {
            font-size: larger;
        }

        .full_Ad-options { 
            position: absolute; 
            bottom: 1px;
    
            width: 100%;
        }
        .button-remove{  
            width: 120px;

            margin-left: 15px;
    
            &:hover{
                color: rgb(236, 85, 85);
            }
        }
    }

    .exit-icon{
        position: absolute;
        z-index: 10;

        right: 20px;
        top: 20px;

        cursor: pointer;

        &:hover{
               color: rgb(236, 85, 85);

               transition: all ease-in-out;
               transition-duration: .3s;
        }
    }
}