.nav__content{
    flex-direction: column;
    align-items: flex-start;
    height: max-content;

    text-align: left;

    h2 {
        font-size: 1.9em;
        letter-spacing: .4em;
    }

    hr{
        position: relative;
        
        width:65%;
        height:1.5px;
        left: -55px;

        color:gray;
        border:0px;
        background-color:rgb(200, 189, 189);
    }

    p{
        max-width: 80%;
    }   
}


