body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #242323;
}

::-webkit-scrollbar-thumb {
  background: rgb(183, 180, 180);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 130, 130);
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}


input{
  width: 60%;
  margin: 10px 0px;

  background-color: transparent;
  border: none;
  border-bottom: .05rem solid rgb(200, 189, 189);

  color: rgb(221, 215, 215);
  font-size: larger;
  letter-spacing: 2px;

  &:focus{
      outline: 0;
      border-bottom: .15rem solid rgb(246, 228, 228);
  }
}

button{
  width: 100px;
  margin: 15px 0px;
  padding: .5rem;

  background-color: transparent;
  border: .05rem solid rgb(118, 114, 114);

  font-weight: 600;
  color: rgb(215, 221, 215);
  font-size: 16px;

  &:hover{
      cursor: pointer;

      color: rgb(63, 211, 63);

      transition: all ease-in-out;
      transition-duration: .2s;
  }
}

select{
  width: 78%;
  padding: .5rem;
  margin: 10px 0px;

  background-color: transparent;
  border: .05rem solid rgb(118, 114, 114);

  color: rgb(221, 215, 215);

  &:focus{
      outline: none;
  }

  option{
      background-color: rgb(55, 55, 55);
      border: none;

      outline: none;
  }
}

textarea{
  width: 77%;
  height: 100px;

  background-color: transparent;  
  border: .05rem solid rgb(118, 114, 114);

  color: rgb(221, 215, 215);
  font-size: larger;

  &:focus{
      outline: none;
      border: .05rem solid rgb(243, 234, 234);
  }
}